/*===============================================*/
/* QWidget */
QWidget {
    background-color: transparent;
    font-family: arial;
    font-size: 16px;
    color: white;
    border: none;
}
/*===============================================*/
/* GWindow */
QFrame#GWindow {
    background-color: #11100f;
}
/*===============================================*/
/* GWidget */
QFrame#GWidget {
    background-color: transparent;
}
/*===============================================*/
/* GWidgetTitleBar */
QFrame#GWidgetTitleBar {
    background-color: teal;
}
/*===============================================*/
/* GTitle */
QLabel#GTitle {
    background-color: purple;
}
/*===============================================*/
/* GIcon */
QLabel#GIcon {
    background-color: navy;
}
/*===============================================*/
/* QLabel */
QLabel {
    background-color: transparent;
    color: #f4a136;
    min-height: 25px;
    padding: 0px 5px;
}
/*===============================================*/
/* QLineEdit */
QLineEdit {
    background-color: transparent;
    border: 1px solid #b2cec3;
    min-width: 250px;
    min-height: 25px;
    padding: 0px 5px;
}
/*===============================================*/
/* QPushButton */
QPushButton {
    background-color: transparent;
    border: 1px solid #b2cec3;
    color: #b2cec3;
    min-height: 25px;
    padding: 0px 5px;
}
QPushButton:hover {
    background-color: #515150;
    border: 1px solid #b2cec3;
    color: #b2cec3;
}
QPushButton:pressed {
    background-color: transparent;
    border: 1px solid #b2cec3;
    color: #b2cec3;
}
/*===============================================*/
/* QScrollBar */
QScrollBar:vertical {
    border: 1px solid #4e516d;
    background-color: #4e516d;
    width: 20px;
    margin: 22px 0 22px 0;
}
QScrollBar::handle:vertical {
    background-color: #02062e;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    border: 1px solid #4e516d;
    background-color: #02062e;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border: 1px solid #4e516d;
    background-color: #02062e;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical {
    image: url(:/img/arrow_up.png);
    min-width: 4px;
    min-height: 4px;
}
QScrollBar::down-arrow:vertical {
    image: url(:/img/arrow_down.png);
    min-width: 4px;
    min-height: 4px;
}
QScrollBar::add-page:vertical, 
QScrollBar::sub-page:vertical {
    background-color: none;
}
/*===============================================*/
/* QScrollBar */
QScrollBar:horizontal {
    border: 1px solid #4e516d;
    background-color: #4e516d;
    height: 20px;
    margin: 0px 22px 0 22px;
}
QScrollBar::handle:horizontal {
    background-color: #02062e;
    min-width: 20px;
}
QScrollBar::add-line:horizontal {
    border: 1px solid #4e516d;
    background-color: #02062e;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border: 1px solid #4e516d;
    background-color: #02062e;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::left-arrow:horizontal {
    image: url(:/img/arrow_left.png);
    min-width: 4px;
    min-height: 4px;
}
QScrollBar::right-arrow:horizontal {
    image: url(:/img/arrow_right.png);
    min-width: 4px;
    min-height: 4px;
}
QScrollBar::add-page:horizontal, 
QScrollBar::sub-page:horizontal {
    background-color: none;
}
/*===============================================*/
/* QTextEdit */
QTextEdit {
    background-color: transparent;
    border: 1px solid #b2cec3;
    color: #b2cec3;
}
/*===============================================*/
/* QToolButton */
QToolButton {
    background-color: transparent;
    padding: 0px 5px;
    min-height: 25px;
}
QToolButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
QToolButton:pressed {
    background-color: transparent;
}
/*===============================================*/
/* QSizeGrip */
QSizeGrip {
    image: url(:/img/sizegrip.png);
    min-width: 10px;
    min-height: 10px;
}
/*===============================================*/
