#================================================
# Makefile
#================================================

/**/bin/
/**/build/
/**/unix/
/**/win/

#================================================
# Eclipse
#================================================

/**/Release/
/**/Debug/
/**/.metadata/
/**/.settings/
/**/.project
/**/.cproject

#================================================
# Data
#================================================

/**/video/
