#================================================
# Mac
#================================================

/**/.DS_Store

#================================================
# Build
#================================================

/**/bin/
/**/build/

#================================================
# Qt
#================================================

/**/.qmake.stash
/**/Makefile
/**/Makefile.Debug
/**/Makefile.Release
/**/object_script.*

#================================================
# Eclipse
#================================================

/**/Release/
/**/Debug/
/**/.metadata/
/**/.settings/
/**/.project
/**/.cproject

#================================================
# Data
#================================================

/**/video/
/**/libs/
/**/log/

#================================================
# Files
#================================================

/**/*.dll
/**/*.so
/**/*.cgi
