/*===============================================*/
/* common */
/*===============================================*/
/* QWidget */
QWidget, QWidget *, * {
    background-color: #201010;
    font-family: "Allan";
    font-size: 20px;
    color: white;
    border: none;
    outline: none
}
/*===============================================*/
/* global */
/*===============================================*/
/* QDockWidget */
QDockWidget {
    border: 5px solid red;
    titlebar-close-icon: url(:/img/close.png);
    titlebar-normal-icon: url(:/img/windowrestore.png);
}

QDockWidget::title {
    text-align: left;
    background: #305030;
    padding: 2px 5px 2px 5px;
}

QDockWidget::close-button, 
QDockWidget::float-button {
    border: none;
    background: transparent;
    padding: 0px;
}

QDockWidget::close-button:hover, 
QDockWidget::float-button:hover {
    background: transparent;
}

QDockWidget::close-button:pressed, 
QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
}
/*===============================================*/
/* QFrame */
QFrame#workspace {
    background-color: #503030;
    border-radius: 5px;
    padding: 10px;
}
/*===============================================*/
/* QHeaderView */
QHeaderView::section {
    background-color: #501010;
    color: white;
    padding: 0px 4px;
    border: 1px solid #501010;
}
QHeaderView::section:checked {
    background-color: #803010;
}
QHeaderView::section:hover {
    background-color: #f38000;
}
/*===============================================*/
/* QListView */
QListView {
    show-decoration-selected: 1; 
}
QListView::item {
    border: 0px;
    padding: 2px 5px;
}
QListView::icon {
    /*left: 10px;*/
}
QListView::text {
    /*left: 10px;*/
}
QListView::item:alternate {
    background-color: #201010;
}
QListView::item:selected {
    border: none;
}
QListView::item:selected:!active {

    color: white;
}
QListView::item:selected:active {

}
QListView::item:hover {
    background-color: purple;
}
/*===============================================*/
/* QMainWindow */
QMainWindow#workspace {
    background-color: #503030;
    border-radius: 5px;
    padding: 10px;
}
/*===============================================*/
/* QMenu */
QMenu {
    border: 1px solid #ffffff;
}
QMenu::item:selected { 
    background-color: #503030;
}
/*===============================================*/
/* QMessageBox */
QMessageBox {
    border: 1px solid #ffffff;
}
QMessageBox QPushButton {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 10px;
}
QMessageBox QPushButton:hover {
    background-color: #303050;
}
QMessageBox QPushButton:pressed {
    background-color: transparent;
}
/*===============================================*/
/* QSizeGrip */
QSizeGrip {
    background-color: #503030;
}
/*===============================================*/
/* QTabWidget */
QTabWidget::pane {
    border-top: 2px solid #303050;
}
QTabWidget::tab-bar {
    left: 5px;
}
QTabBar::tab {
    background-color: transparent;
    border: none;
    padding: 2px 5px;
}

QTabBar::tab:selected {
    background-color: #305030;
    border: none;
}
QTabBar::tab:!selected {
    margin: 0px; 
}
QTabBar::tab:hover {

}
/*===============================================*/
/* QTableWidget */
QTableWidget {
    alternate-background-color: #705050;
    background-color: #503030;
}
QTableWidget::item:selected { 
    background-color: #d07050;
}
QTableWidget::item:hover { 
    /* background-color: #a06040; */
}
/*===============================================*/
/* QTableCornerButton */
QTableCornerButton::section {
    background-color: #501010;
}
/*===============================================*/
/* QTextEdit */
QTextEdit#debug {
    background-color: #503030;
    border-radius: 5px;
    padding: 10px;
}
/*===============================================*/
/* QTextEdit */
QTextEdit#workspace {
    background-color: #503030;
    border-radius: 5px;
    padding: 10px;
}
/*===============================================*/
/* QToolTip */
QToolTip {
    background-color: #305030;
    border-radius: 5px;
}
/*===============================================*/
/* custom */
/*===============================================*/
/* GAddressBar */
GAddressBar * {
    background-color: transparent;
}
GAddressBar {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
GAddressBar QLineEdit#address {
    color: #aaaaaa;
}
/*===============================================*/
/* GButton */
QPushButton#GButton {
    background-color: #503030;
    padding: 2px 5px;
    border-radius: 5px;
}
QPushButton#GButton:hover {
    background-color: #503030;
}
QPushButton#GButton:pressed {
    background-color: transparent;
}
/*===============================================*/
/* GDebug */
QFrame#GDebug {

}
QFrame#GDebug QTextEdit#workspace {
    background-color: #503030;
    padding: 8px;
    font-family: "Courier Prime";
    border-radius: 5px;
}
/*===============================================*/
/* GGraphicsView */
QFrame#GGraphicsView QGraphicsView#workspace {
    background-color: #503030;
    border-radius: 5px;
}
/*===============================================*/
/* GLineEdit */
GLineEdit * {
    background-color: transparent;
}
GLineEdit#mode_label {
    border: 2px solid #503030;
    border-radius: 5px;
}
GLineEdit#mode_label QPushButton#label {
    background-color: #503030;
    padding: 2px 10px;
    text-align: left;
}
/*===============================================*/
/* GListBox */
GListBox * {
    background-color: transparent;
}
GListBox QPushButton#item,
GListBox QFrame#item {
    padding: 5px 10px;
    text-align: left;
}
GListBox QPushButton#item:hover,
GListBox QFrame#item:hover {
    background-color: #503030;
}
GListBox QPushButton#item:pressed,
GListBox QFrame#item:pressed {
    background-color: transparent;
}
GListBox QPushButton#key {
    text-align: left;
}
/*===============================================*/
/* GLogin */
GLogin * {
    background-color: transparent;
}
GLogin QFrame#content {
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 500px;
    padding: 10px;
}
GLogin QPushButton#profil {
    background-color: #503030;
    border-radius: 100px;
    min-width: 200px;
    min-height: 200px;
    margin: 20px 0px 0px 0px;
}
GLogin QLabel#message {
    color: #ff0000;
}
GLogin QFrame#username,
GLogin QFrame#password {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
GLogin QPushButton#cancel,
GLogin QPushButton#login {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 10px;
}
GLogin QPushButton#cancel:hover,
GLogin QPushButton#login:hover {
    background-color: #303050;
}
GLogin QPushButton#cancel:pressed,
GLogin QPushButton#login:pressed {
    background-color: transparent;
}
/*===============================================*/
/* GOpenCVQt */
QFrame#GOpenCVQt QLabel#workspace{
    background-color: #503030;
    border-radius: 5px;
}
/*===============================================*/
/* GPdfUi */
GPdfUi {
    padding: 10px;
}
GPdfUi QPushButton#edit,
GPdfUi QPushButton#preview {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 10px;
}
GPdfUi QPushButton#edit:hover,
GPdfUi QPushButton#preview:hover {
    background-color: #303050;
}
GPdfUi QPushButton#edit:pressed,
GPdfUi QPushButton#preview:pressed {
    background-color: transparent;
}
GPdfUi QTextEdit#edit {
    background-color: #503030;
    border-radius: 5px;
    padding: 10px;
    font-family: "Courier New";
    font-size: 14px;
}
GPdfUi QTextBrowser#preview {
    background-color: #503030;
    border-radius: 5px;
    padding: 10px;
}
/*===============================================*/
/* GProfil */
GProfil {
    padding: 10px;
}
GProfil QPushButton#profil_label {
    background-color: #503030;
    padding: 2px 10px;
    text-align: left;
}
GProfil QPushButton#profil_photo {
    background-color: #503030;
    border-radius: 100px;
    min-width: 200px;
    min-height: 200px;
    margin: 20px 0px 0px 0px;
}
/*===============================================*/
/* GSchema */
GSchema QTextEdit#text {
    padding: 10px;
}
/*===============================================*/
/* GSQLiteTables */
GSQLiteTables {

}
GSQLiteTables QPushButton#title {
    text-align: left;
}
GSQLiteTables QPushButton#show {
    background-color: #303050;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    padding: 2px 10px;
}
/*===============================================*/
/* GTimesheet */
GTimesheet QPushButton#item {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
/*===============================================*/
/* GTitleBar */
GTitleBar QPushButton#login {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
GTitleBar QLabel#title {
    padding: 0px 20px;
}
/*===============================================*/
/* GTableWidget */
GTableWidget QFrame#title * {
    background-color: transparent;
}
GTableWidget QFrame#title {
    background-color: #305050;
}
GTableWidget QFrame#title QPushButton#arrow {
    padding: 5px 5px;
}
GTableWidget QFrame#title QLabel#month {
    padding: 5px 5px;
}
GTableWidget QLabel#corner {
    background-color: transparent;
    color: #808080;
}
/*===============================================*/
/* GUserAdd */
GUserAdd * {
    background-color: transparent;
}
GUserAdd {
    padding: 10px;
}
GUserAdd QFrame#content {
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 500px;
    padding: 10px;
}
GUserAdd QPushButton#profil {
    background-color: #503030;
    border-radius: 100px;
    min-width: 200px;
    min-height: 200px;
    margin: 20px 0px 0px 0px;
}
GUserAdd QLabel#message {
    color: #ff0000;
}
GUserAdd QFrame#username,
GUserAdd QFrame#password,
GUserAdd QFrame#confirm {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
GUserAdd QPushButton#cancel,
GUserAdd QPushButton#add {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 10px;
}
GUserAdd QPushButton#cancel:hover,
GUserAdd QPushButton#add:hover {
    background-color: #303050;
}
GUserAdd QPushButton#cancel:pressed,
GUserAdd QPushButton#add:pressed {
    background-color: transparent;
}
/*===============================================*/
/* GUserMap */
GUserMap {

}
GUserMap QPushButton#title {
    text-align: left;
}
/*===============================================*/
/* GWindow */
GWindow QScrollArea#workspace {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 2px;
}
/*===============================================*/
 